<div class="container">
    <h1>Login</h1>

    <% if (alert) { %>
        <div class="alert alert-error">
            <strong><%= alert %></strong>
        </div>
    <% } %>

    <% if (message) { %>
        <div class="alert alert-error">
            <strong><%= message %></strong>
        </div>
    <% } %>
    <!-- Show validation errors -->
    <% if (errors && errors.length > 0) { %>
        <div class="alert alert-error">
            <% errors.forEach(error => { %>
                <p><%= error.msg %></p>
            <% }); %>
        </div>
    <% } %>

    <form action="/login" method="post">
        <label>Email</label>
        <input type="text" name="email" required>
        <label>Password</label>
        <input type="password" name="password" required>
        <button type="submit" class="button">Login</button>
    </form>

     <!-- Signup Link -->
     <p style="text-align: center; margin-top: 15px;">
        Don't have an account? 
        <a href="/signup" style="color: #007BFF; font-weight: bold;">Sign up here</a>
    </p>
</div>
